<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Let's Talk!" %></h2>
  <p class="lead">An Innov8s project to experiment with Pheonix sockets.</p>
</div>

<div id="messages"></div>
<hr/>
<label>
  Say something:
</label>
<input id="chat-input" type="text"></input>
