<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Innov8s Chat!" %></h2>
  <p class="lead">An project to experiment with Pheonix sockets.</p>
</div>

<div id="messages"></div>
<hr/>
<label>
  Say something:
</label>
<input id="chat-input" type="text"></input>
